<h1 class="title is-2">MyUser Form</h1>
<form action="http://127.0.0.1:2000/users/create" method="POST" class="box">
  <div class="columns is-mobile">
    <div class="field column is-8 is-offset-2">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" name="name" placeholder="name">
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="field column is-8 is-offset-2">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="email" name="email" placeholder="e.g. alex@example.com">
      </div>
    </div>
  </div>  
  <div class="columns is-mobile">
    <div class="field column is-8 is-offset-2">
      <label class="label">Hobby</label>
      <div class="control">
        <input class="input" type="text" name="hobby" placeholder="hobby">
      </div>
    </div>
  </div>
  <div class="columns is-mobile">
    <input class="button is-danger column is-2 is-offset-8" type="reset">
  </div>
  <div class="columns">
    <div class="column"></div>
  </div>
  <div class="columns is-mobile">
    <input class="button is-primary column is-2 is-offset-8" type="submit">
  </div>
</form>
